<h1>All Contacts</h1>

<% @all_contacts.each do |contact| %>
  <p>First Name: <%=contact.first_name%></p>
  <p>Last Name: <%=contact.last_name%></p>
  <p>Email: <%=contact.email%></p>
  <p>Phone: <%=contact.phone_number%></p>
<% end %>