<h1>All Contacts</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
  <% @all_contacts.each do |contact| %>
  <tr>
    <td><%=contact.first_name%></td>
    <td><%=contact.last_name%></td>
    <td><%=contact.email%></td>
    <td><%=contact.phone_number%></td>
  </tr>
  <% end %>
</table>
