<h1>First Contact</h1>

<p>First Name: <%=@first_contact.first_name%></p>
<p>Last Name: <%=@first_contact.last_name%></p>
<p>Email: <%=@first_contact.email%></p>
<p>Phone: <%=@first_contact.phone_number%></p>